<?php

return [
    'source_list_name' => 'Meine Akquiseliste',
    'email_template_name' => 'Meine Informationsmail',
    'email_sending_enabled' => false,
    'lock_minutes' => 20,
    'default_callback_days' => 7,
    'callback_escalation_days' => 2,
    'external_stale_days' => 14,
    'local_postcode_patterns' => ['/^19/', '/^168/', '/^169/'],
    'positive_patterns' => [
        '/restaurant|hotel|handwerk|praxis|werkstatt|ferien|service/iu',
    ],
    'exclude_patterns' => [
        '/ministerium|bundesamt|landesamt|stadtverwaltung|rathaus/iu',
    ],
    'dialer_android_store_url' => 'https://play.google.com/store/apps/details?id=de.anesda.crmspeedphone.dialer',
    'dialer_ios_store_url' => '',
];
