[Unit]
Description=CRM SpeedPhone Anrufmelder
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/crm-speedphone-incoming-listener
Restart=always
RestartSec=5
User=crm-speedphone-incoming
Group=crm-speedphone-incoming
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadOnlyPaths=/etc/crm-speedphone-incoming/config.json

[Install]
WantedBy=multi-user.target
